@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Grape+Nuts&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}
body {
  background-color: #ffcddd;
}
.header {
  background-color: white;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: initial;
}

.container {
  max-width: initial;
}
.caro {
  /* background-color:aqua; */
  max-height: 80vh;
}

.caro_img {
  padding: 5vw;
  height: 77vh;
}
.carousel-control-prev,
.carousel-control-next {
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  width: initial;
}
.account-head,
.account-head-dv {
  color: #8946a6;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 4vh;
}
.account-head:hover,
.nav_thing-center:hover {
  color: #ea99d5;
}
.nav_thing-center {
  padding: 0.5vw;
  color: #b762c1;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3.6vh;
}
.shorten-body {
  height: 80vh;
  background-image: url("img/back.png");
}
#main-box {
  height: 8vh;
  font-size: 4vh;
  text-indent: 0.8vw;
  border-radius: 5vw 0 0 5vw;
}
#main-btn {
  height: 8vh;
  background-color: #8946a6;
  color: white;
  font-size: 4vh;
  border-radius: 0 5vw 5vw 0;
  padding: 0.7vw;
  display: inline-flex;
  align-items: center;
}

.main-title {
  color: #8946a6;
  font-family: "Grape Nuts";
  font-weight: bold;
  font-size: 8vh;
}
.ct-head {
  font-family: "Bebas Neue";
  color: #8946a6;
  font-size: 10vh;
}
.ct-cont {
  padding: 10vw;
}
.caro_text {
  color: #b762c1;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 4vh;
}
.foot-row {
  background-color: #8946a6;
  color: white;
  padding: 5vw;
}
.foot-lk,
.foot-lk:hover {
  color: white;
  font-family: "Barlow Condensed";
  font-size: 2.4vh;
}
.foot-t {
  color: #ffcddd;
  font-family: "Bebas Neue";
  font-size: 5vh;
}
.nav-img {
  max-height: 13vh;
  padding: 0.5vw;
}
.nav-img-login {
  max-height: 16vh;
  padding: 0.5vw;
}
.login-fm
{
  background-color: white;
  border-radius: 4vh;
  padding-bottom: 6vh;
  padding-top: 1vw;
}
.login-header
{
  color: #8946a6;
  border-bottom: #ea99d5 solid 1vh;
  font-family: "Barlow Condensed";
  padding: 0.5vw;
  font-weight: bold;
  font-size: 6.2vh;
}
.login-fm-lb
{
  color: #b762c1;
  font-family: "Barlow Condensed";
  font-weight: bold;
  font-size: 3.5vh;
  padding-top: 1.5vw;
  padding-left: 0;
}
.login-sub 
{
  margin: 1vw;
  margin-top: 2vh;
  margin-bottom: 0;
  background-color: #8946a6;
  color: white;
  width: 90%;
  font-size: 3vh;
}
.login-sub:hover
{
  background-color: #b762c1;
  color: white;
}
.login-box
{
  font-size: 3vh;
}